@import '~style/helpers';

.home {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home > div {
  position: relative;
}

.topHero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    opacity: 0;
    width: 75vw;
    transition: opacity 2s;
  }
  .hidden {
    opacity: 0;
    transition: opacity 2s;
  }
  .revealed {
    opacity: 1;
    transition: opacity 2s;
  }
}
.bottomHero {
  flex: 8;
  color: #ffffff;
  background-color: @lightBlue;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    padding: 0 30px;
    font-size: 8vw;
  }
}